@{
   
    var c = (Marca)ViewData["Marca"];
}
<script type="text/javascript">
    function irAModelo(id) {

        var url = '@Url.Action("Modelo", "Home")';
        window.location.href = url + "/" +  id
    }

</script>

<div class="container " ng-controller="Modelos">
    @Html.ActionLink("Marcas", "Marcas") >
     @c.DescripcionSeccion
    <div class="row mt-3">
        <div class="col-6">
            <h3 class="">@c.DescripcionSeccion</h3>
            <div class="form-group">
                <label>Nombre de la marca (Sección) </label>
                <div class="col-12">
                    <input type="text" ng-change="cambios=true" ng-model="currentmarca.descripcionSeccion" class="form-control" />
                </div>
            </div>
            <!--<div class="form-group">
        <label>Código de sección</label>
        <div class="col-3">
            <input type="text" ng-change="cambios=true" ng-model="currentmarca.codigoSeccion" class="form-control disabled" />
        </div>
    </div>-->
            <div class="col text-right">
                <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()">Guardar</button>
                <button class="btn btn-danger" ng-if="cambios" type="submit" value="Guardar cambios" ng-click="cancelar()">Cancelar</button>

            </div>
        </div>
        <div class="col-6">
            

            <input type="hidden" value="@c.IDSeccion" id="idseccion" />
            <img style="max-height:80px" class="img-fluid " ng-src="{{currentmarca.url}}" onerror="this.src=' ../../images/escudo.png'" />
            <div class="form-group">
                <label class=""><small>Sube una imagen de la marca</small></label>
                <div class="col-12 ">

                    <input class="form-control form-control-sm" type="file" id="filesup" ng-file-model="currentmarca.files" />
                </div>
            </div>
        </div>
        


    </div>
    <div class="row my-1">
        <div class="col-12">
            <hr />
        </div>
        <div classs="col-8"><h4>@ViewData["Message"] (Familia)</h4></div>
        <div class="col text-right">

        </div>

    </div>






    <div class="row">
        <div class="col-12">
            <div class="dx-viewport demo-container">
                <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="tiv" style="width:100% !important;">
                    <div data-options="dxTemplate:{ name:'cellTemplate' }">
                        <img class="img-fluid d-block mx-auto" ng-src="{{tiv.value}}" onerror="this.src='../../images/imagen_defect.png'" />

                    </div>
                    <div data-options="dxTemplate:{ name:'editTemplate' }">

                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="modificarMarca(tiv)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Editar</button>

                    </div>
                    <div data-options="dxTemplate:{ name:'deleteTemplate' }">

                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="eliminarRegistro(tiv)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Eliminar</button>

                    </div>
                    <div data-options="dxTemplate:{ name:'verTemplate' }">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="verModelo(tiv.data.idFamilia)"><i class="fas fa-share-square"></i>Editar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <nav class="">
                <ul class="pagination justify-content-left">
                    <li class="page-item disabled" id="primera" ng-click="cambiarPagina(this, 'F')">
                        <a class="page-link"><i class="fa fa-step-backward fa-xs "></i><small style="font-size:72%">Primera</small> </a>
                    </li>
                    <li class="page-item" id="anterior" ng-click="cambiarPagina(this, 'P')">
                        <a class="page-link"><i class="fa fa-caret-left fa-xs "></i> <small style="font-size:72%"> anterior</small></a>
                    </li>
                    <li class="page-item" id="siguiente" ng-click="cambiarPagina(this, 'N')">
                        <a class="page-link"><small style="font-size:72%">siguiente</small>  <i class="fa fa-caret-right fa-xs "></i></a>
                    </li>
                    <li class="page-item" id="ultima" ng-click="cambiarPagina(this, 'L')">
                        <a class="page-link"><small style="font-size:72%">Última</small> <i class="fa fa-step-forward fa-xs "></i> </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div dx-popup="popupOptions">
        <div class='popup-property-details'>
            <div class="form">
                <div class="form-group">
                    <label>Descripción </label>
                    <div class="col-12">
                        <input type="text" ng-model="currentmarca.descripcionSeccion" class="form-control" />
                        <small id="emailHelp" class="form-text text-muted">Descripción de la marca</small>
                    </div>
                    <div class="col-12">
                        <input type="text" ng-model="currentmarca.codigoSeccion" class="form-control" />
                        <small id="emailHelp" class="form-text text-muted">Código de sección</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid d-block mx-auto" ng-src="{{currentmarca.url}}" onerror="this.src='../images/imagen_defect.png'" />
                    </div>
                    <div class="col-12">
                        <hr />
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Sube una imagen de la marca</label>
                            <div class="col-12 text-center">
                                <input type="file" id="filesup" ng-file-model="currentmarca.files" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col text-right">
                        <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()">Guardar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


