@{
    ViewData["Title"] = "Tipo de Carrocería";
    var c = (Modelo)ViewData["Modelo"];
}
<script type="text/javascript">
    function irAMarca(id) {
        var url = '@Url.Action("Marca", "Home")';
        window.location.href = url + "/" + id;
    }
</script>

<div class="container " ng-controller="ModeloCarroceria">
    <input style="display:none" type="text" value="@c.IDFamilia" id="idFamilia" />
    <div class="row">
        <div class="col-6">
            @*<h2>@ViewData["Title"]</h2>*@

            <h3>Modelo @c.DescripcionFamilia</h3>
            <img class="img-fluid " style="max-height:80px" ng-src="{{currentmodelo.url}}" onerror="this.src='../../images/imagen_defect.png'" />
            <small class="d-block mx-auto">Sube una imagen del modelo</small>
            <div class="col-6">
                <input class="form-control form-control-sm" type="file" id="filesup" ng-file-model="currentmodelo.files" />
            </div>
        </div>
        <div class="col-6">
           Marca: <a ng-click="verMarca(@c.IdSeccion)">@c.descripcionSeccion</a>
            <div class="form-group">
                <label>Descripción del Modelo (Familia) </label>
                <div class="col-12">
                    <input type="text" ng-model="currentmodelo.descripcionFamilia" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                sec: {{currentmodelo.idSeccion}}
                <div class="col-12">
                    <label>Código de familia:</label>
                    <div class="col-3">
                        <input type="text" ng-model="currentmodelo.codigoFamilia" class="form-control" />
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    
    
        
       
        
      
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>

   
    <div class="row">
        <div class="col-12">
            <div class="row mb-4">
                <div class="col-6">
                    <h3>@ViewData["Message"]</h3>
                </div>
                <div class="col-6 text-right">
                    @*<input type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" />*@
                    @*<button type="submit" value="Añadir Nuevo Tipo" ng-click="anadirCarroceria()" class="btn btn-primary"><i class="fas fa-plus-square"></i> Añadir Carrocería existente</button>*@
                    <button type="submit" value="Añadir Nuevo Tipo" ng-click="crearRegistro()" class="btn btn-primary"><i class="fas fa-plus-square"></i> Crear Nueva Carrocería </button>
                </div>
            </div>
            <div class="dx-viewport demo-container">
                <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="carroceria" style="width:100% !important;">
                    <div data-options="dxTemplate:{ name:'cellTemplate' }">
                        <img class="img-fluid" ng-src="{{carroceria.value}}" />
                    </div>
                    <div data-options="dxTemplate:{ name:'editTemplate' }">
                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="modificarCarroceria(carroceria)" class="btn btn-default btn-sm"><i class="fas fa-pen-square"></i> Editar</button>
                    </div>
                    <div data-options="dxTemplate:{ name:'deleteTemplate' }">
                        @*<input type="submit" ng-click="modificarVidrio(vidrio)" />*@
                        <button type="submit" ng-click="eliminarRegistro(carroceria)" class="btn btn-default btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="">Incluir una carrocería existente</label>
                <div class="input-group">
                    <input type="text" class="form-control campo-search " ng-blur="focofuera2()" ng-focus="entrafoco2()" placeholder="Buscar carrocería..." value="" id="busqueda_producto2" tabindex="1" autocomplete="off" ng-change="cambiobusqueda2()" ng-model="cadena2" name="producto2">
                    <span class="input-group-btn">
                        <button class="btn btn-default boton-buscar form-control-sm " type="submit" id="btn_buscar" tabindex="2">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="desplegable" style="display:none" id="desplegable2" ng-hide="!mostrardesplegable2">
                <table class="tablaresultados">
                    <tbody>
                        <tr ng-if="!loading2" class="" ng-repeat="resultado in resultadobusqueda2" ng-click="anadirCarroceria(resultado)">
                            <td class="">
                                <a class="resul-search">
                                    {{resultado.descripcion}}
                                </a>
                            </td>
                        </tr>
                        <tr class="otrainfo" ng-if="loading2">
                            <td class="">
                                <a>
                                    <img class="img-fluid" src="~/img/cargando.gif" />
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="resultadobusqueda2.length<1" class="otrainfo">
                            <td>
                                <a>
                                    No hay resultados que mostrar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosModelo()">Guardar</button>

        </div>
    </div>
    @*POPUP EDITAR/CREAR CARROCERIAS*@
    <div dx-popup="popupOptions">
        <div class='popup-property-details'>
            <div class="form">
                <div class="form-group">
                    <label>Descripción </label>
                    <div class="col-12">
                        <input type="text" ng-model="currentcarroceria.descripcion" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="">Incluir un tipo de Vidrio a la Carrocería</label>
                    <div class="input-group">
                        <input type="text" class="form-control campo-search " ng-blur="focofuera()" ng-focus="entrafoco()" placeholder="Buscar tipo de vidrio" value="" id="busqueda_producto" tabindex="1" autocomplete="off" ng-change="cambiobusqueda()" ng-model="cadena" name="producto">
                        <span class="input-group-btn">
                            <button class="btn btn-default boton-buscar form-control-sm " type="submit" id="btn_buscar" tabindex="2">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="desplegable" style="display:none" id="desplegable" ng-hide="!mostrardesplegable">
                    <table class="tablaresultados">
                        <tbody>
                            <tr ng-if="!loading" class="" ng-repeat="resultado in resultadobusqueda" ng-click="anadirVidrio(resultado)">
                                <td class="">
                                    <a class="resul-search">
                                        {{resultado.descripcion}}
                                    </a>
                                </td>
                            </tr>
                            <tr class="otrainfo" ng-if="loading">
                                <td class="">
                                    <a>
                                        <img class="img-fluid" src="~/img/cargando.gif" />
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="resultadobusqueda.length<1" class="otrainfo">
                                <td>
                                    <a>
                                        No hay resultados que mostrar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table-sm ">
                                <tr>
                                    <th>Tipo de Vidrio</th>
                                    <th>Posición Vertical</th>
                                    <th>Posicion Horizontal</th>
                                    <th>Extension Vertical</th>
                                    <th>Extensión Horizontal</th>
                                </tr>
                                <tr ng-repeat="vidrio in currentcarroceria.vidrios | filter:noEliminado">
                                    <td>{{vidrio.descripcion}}</td>
                                    <td><input class="form-posicion" width="5" type="number" ng-model="vidrio.posVer" /></td>
                                    <td><input class="form-posicion" width="5" type="number" ng-model="vidrio.posHor" /></td>
                                    <td><input class="form-posicion" width="5" type="number" ng-model="vidrio.spanVer" /></td>
                                    <td><input class="form-posicion" width="5" type="number" ng-model="vidrio.spanHor" /></td>
                                    <td><button class="btn btn-sm btn-default form-control" type="submit" ng-click="eliminarVidrio(vidrio, $index)"><i class="fas fa-trash"></i> </button></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>

                <div class="row">

                </div>
                <div class="row">
                    <div class="col text-right">
                        @*<input type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()" />*@
                        <button class="btn btn-primary" type="submit" value="Guardar cambios" ng-click="guardarCambiosPopup()">Guardar</button>
                        <button class="btn btn-danger" type="submit" value="Guardar cambios" ng-click="cancelarCambios()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


