@{
   @model EmpresaWeb
}
<form method="post" asp-action="Web" asp-controller="Home">
    <br><label>Dirección</label>
    @Html.EditorFor(Model => Model.Direccion, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Código Postal</label>
    @Html.EditorFor(Model => Model.CodPostal, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Localidad</label>
    @Html.EditorFor(Model => Model.Localidad, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Teléfono</label>
    @Html.EditorFor(Model => Model.Telefono, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Email</label>
    @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Web</label>
    @Html.EditorFor(Model => Model.Web, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Copyright</label>
    @Html.EditorFor(Model => Model.Copyright, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Página de Facebook</label>
    @Html.EditorFor(Model => Model.PaginaFacebook, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Página de Instagram</label>
    @Html.EditorFor(Model => Model.PaginaInstagram, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Página de Twitter</label>
    @Html.EditorFor(Model => Model.PaginaTwitter, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Página de Google+</label>
    @Html.EditorFor(Model => Model.PaginaGooglePlus, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Página de Pinterest</label>
    @Html.EditorFor(Model => Model.PaginaPinterest, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Página de Linkedin</label>
    @Html.EditorFor(Model => Model.PaginaLinkedIn, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Acerca de</label>
    @Html.EditorFor(Model => Model.AcercaDe, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Pedidos Visibles</label>
    @Html.EditorFor(Model => Model.VisiblePedidos)
    <br><label>Facturas Visibles</label>
    @Html.EditorFor(Model => Model.VisibleFacturas)
    <br><label>Finanzas Visibles</label>
    @Html.EditorFor(Model => Model.VisibleFinanzas)
    <br><label>Catálogo Visible</label>
    @Html.EditorFor(Model => Model.VisibleCatalogo)
    <br><label>Cuenta Visible</label>
    @Html.EditorFor(Model => Model.VisibleCuenta)
    <br><label>Idiomas Visibles</label>
    @Html.EditorFor(Model => Model.VisibleIdiomas)
    <br><label>Mensajes Visibles</label>
    @Html.EditorFor(Model => Model.VisibleMensajes)
    <br><label>Plantillas Visibles</label>
    @Html.EditorFor(Model => Model.VisiblePlantillas)
    <br><label>Invitado Visible</label>
    @Html.EditorFor(Model => Model.VisibleInvitado)
    <br><label>Venta Directa Visible</label>
    @Html.EditorFor(Model => Model.VisibleVentaDirecta)

    <br><label>Categorias Visibles</label>
    @Html.EditorFor(Model => Model.VisibleCategorias)
    <br><label>Vehículos Visibles</label>
    @Html.EditorFor(Model => Model.VisibleVehiculos)
    <br><label>Novedades Visibles</label>
    @Html.EditorFor(Model => Model.VisibleNovedades)
    <br><label>Pedido Express Visible</label>
    @Html.EditorFor(Model => Model.VisibleExpress)
    <br><label>Últimos pedidos Visible</label>
    @Html.EditorFor(Model => Model.VisibleUltimosPedidos)
    <br><label>VisibleIP</label>
    @Html.EditorFor(Model => Model.VisibleIP)
    <br><label>Visible Última Conexión</label>
    @Html.EditorFor(Model => Model.VisibleUltimaConexion)
    <br><label>Características Eurocode Visible en listados</label>
    @Html.EditorFor(Model => Model.VisibleEurocodeListado)
    <br><label>Características Eurocode Visible en ficha Artículo</label>
    @Html.EditorFor(Model => Model.VisibleEurocodeFicha)
    <br><label>Almacenes visibles en Listado</label>
    @Html.EditorFor(Model => Model.VisibleAlmacenesListado)
    <br><label>Almacenes Visibles en ficha Artículo</label>
    @Html.EditorFor(Model => Model.VisibleAlmacenesFicha)


    <br><label>Cuenta de Correo</label>
    @Html.EditorFor(Model => Model.NombreCuenta, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Usuario de Correo</label>
    @Html.EditorFor(Model => Model.Usuario, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Clave de Correo</label>
    @Html.EditorFor(Model => Model.Clave, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Servidor de Correo Saliente</label>
    @Html.EditorFor(Model => Model.ServCorreoSal, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Puerto de Correo Saliente</label>
    @Html.EditorFor(Model => Model.PuertoCorreoSal, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Nombre del Sitio</label>
    @Html.EditorFor(Model => Model.NombreSitio, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    <br><label>Ruta logo del sitio</label>
    @Html.EditorFor(Model => Model.RutaLogo, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
    @*@Html.EditorForModel()*@
    <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
</form>